/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, address,
em, img, small, strike, strong, sub, sup, b, u, i, center, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, time, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* Reset */

html {
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%; /* 62.5% = 10px on browser's default settings where font-size = 16px */
    font-family: 'Roboto', 'Droid Sans', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-size: 1.6em;
    background-color: lightgray;

    h6 { font-size: 1.5rem; }
    h5 { font-size: 1.8rem; }
    h4 { font-size: 2.1rem; }
    h3 { font-size: 2.4rem; }
    h2 { font-size: 2.7rem; }
    h1 { font-size: 3rem; margin: 2rem 0; }


    #content {
        margin: 0 auto;
        padding-bottom: 4rem;
        width: 94%;
        padding: 4rem 0;
        h1,h2, h3, h4, h5, h6 {
            font-family: 'Montserrat', Helvetica, Arial, sans-serif;
            font-weight: bold;
        }
        b { font-weight: bold; }

        a,
        a:visited,
        a:hover {
            color: blue;
        }

        form.data-tables-search-form {
            label {
                margin: 0 .6rem;
                font-weight: bolder;
            }
        }
    }

    #header, #footer { background-color: lavender; }

    #footer {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
        left: 0;

        width: 100%;
        height: 4rem;
        border-top: 1px solid #000;
        padding: 1rem;
        font-size: 86%;
        text-align: right;
    }

    #header {
        .user {
            font-size: 90%;
            float: right;
            padding: 1rem 1rem 0 0;

            i {
                font-style: italic; font-weight: bolder;
            }
        }

        nav {
            clear: both;
            font: 0.92em/1 'Montserrat', Helvetica, Arial, sans-serif;
            padding: 0.6rem;
            border-style: solid;
            border-color: #000;
            border-width: 2px 0 1px 0;

            li {
                display: inline-block;
                margin: 0.4em 0.8em;
            }

            a:visited, a {
                color: #333;
                font-weight: bold;
                text-decoration: none;
            }

            a:focus, a:hover {
                text-decoration: underline;
            }
            a.active {
                color: #0055fe;
            }
        }

        .logo {
            display: inline-block;
            width: 16rem;
            vertical-align: middle;
            padding: 1.6rem ;
            a:hover, a:focus, a:visited, a {
                color: #000;
                text-decoration: none;
            }
            img {
                width: 100%;
                min-width: 1rem;
            }
            font-size: 2rem;
            font-weight: bold;
        }
    }
    p {
        margin-bottom: 2.4rem;
    }
    div.breadcrumbs {
        padding: 0.5rem 0;
        font-size: 86%;
    }

    // Fixing container positioning created by X-editable plugin
    // https://vitalets.github.io/x-editable/docs.html
    .editable-container.editable-inline {
        display: inline-block;
        z-index: 1;
        position: relative;
        padding: 2px;
        border-radius: 6px;
        background: lightgrey;
    }
}

/* vim: set ts=4 sts=4 sw=4 fdm=marker: */
