{% include 'header.html.twig' %}

{% for message in app.flashes('error') %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% include 'bottom.html.twig' %}
